{% import "CeresAgri::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% set backlink = request.get("backlink") %}

{{ component( "CeresAgri::Customer.Components.GuestLogin" ) }}

<script type="x/template" id="vue-login-view" >
    <div class="container-max login">
	<h1 class="login-view-title mb-3 h2">{{ trans("CeresAgri::Template.login") }}</h1>
        <div class="row ">
            <div class="col-sm-6">
				<h2>{{ trans("CeresAgri::Template.loginNoCustomer") }}</h2>
				<hr />
				
				<div class="col-sm-{% if 'my-account' not in backlink %}6{% else %}12{% endif %}">
				<div class="text"><p>{{ trans("CeresAgri::Template.loginRegText") }}</p></div>
							<a class="btn btn-primary btn-block mb-1" href="{{ urls.registration }}{% if backlink | trim is not empty %}?backlink={{ backlink | url_encode}}{% endif %}">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								{{ trans("CeresAgri::Template.loginRegister") }}
							</a>
						
				</div> {% if "my-account" not in backlink %}
				<div class="col-sm-6">
				<div class="text"><p>{{ trans("CeresAgri::Template.loginOrderAsGuestText") }}</p></div>
								<button class="btn btn-primary btn-block mb-1" @click="openGuestModal()">
									<i class="fa fa-shopping-bag" aria-hidden="true"></i>
									{{ trans("CeresAgri::Template.loginOrderAsGuest") }}
								</button>
					   
				</div> {% endif %}
			</div>
            <div class="col-sm-6">
				<h2>{{ trans("CeresAgri::Template.loginCustomer") }}</h2>
				<hr />
                <div>
                    <login template="#vue-login" backlink="{{ backlink | url_encode }}" has-to-forward="true"></login>
                </div>
              

                {{ LayoutContainer.show("CeresAgri::Login.AdditionalContentAfterButtons") }}

            </div>
        </div>

        <guest-login template="#vue-guest-login" backlink="{{ backlink | url_encode }}"></guest-login>
        
    </div>
</script>