{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.login") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "CeresAgri::Customer.Components.LoginView") }}
    {{ component( "CeresAgri::Customer.Components.Login") }}
    {{ component( "CeresAgri::Customer.Components.GuestLogin") }}

    <login-view template="#vue-login-view"></login-view>
{% endblock %}
