{% extends getPartial('page-design') %}
{% import "CeresAgri::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("CeresAgri::Template.checkout") }} | {{ trans("CeresAgri::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {{ component( "CeresAgri::Customer.Components.AddressSelect.AddressSelect" ) }}
    {{ component( "CeresAgri::Checkout.Components.AcceptGtcCheck" ) }}
    {{ component( "CeresAgri::Checkout.Components.PaymentProviderSelect" ) }}
    {{ component( "CeresAgri::Checkout.Components.ShippingPrivacyHintCheck" ) }}
    {{ component( "CeresAgri::Checkout.Components.ShippingProfileSelect" ) }}
    {{ component( "CeresAgri::Checkout.Components.PlaceOrder" ) }}
    {{ component( "CeresAgri::Checkout.Components.ContactWishInput" ) }}
    {{ component( "CeresAgri::Basket.Components.Coupon" ) }}
    {{ component( "CeresAgri::Basket.Components.BasketList" ) }}
    {{ component( "CeresAgri::Basket.Components.BasketTotals" ) }}
    {{ component( "CeresAgri::Checkout.Components.Checkout" ) }}

    <div class="page-content checkout container-max">
        {% set overrideCheckout = LayoutContainer.show("CeresAgri::Checkout") %}
        {% if overrideCheckout|trim is empty %}
            <div class="row mt-1">
                <div class="col-xs-12">
                    <h1 class="h2">{{ trans("CeresAgri::Template.checkout") }}</h1>
                    <hr>
                </div>
            </div>

            <checkout v-cloak template="#vue-checkout" :initial-checkout="{{ services.checkout.getCheckout() | json_encode() }}">
                <div class="row" slot-scope="checkoutComp">
                    <!-- ADDRESS SELECT -->
                    <div class="col-md-7">
                        <div class="col-xs-12 pt-2 bg-white">
                            <div id="registry-form-container" class="registry-form-container main-col" data-id="0" data-status="2">
                                {% set overrideAddressLists = LayoutContainer.show("CeresAgri::Checkout.AddressLists") %}
                                {% if overrideAddressLists|trim is empty %}
                                    {% set overrideBillingAddress = LayoutContainer.show("CeresAgri::Checkout.BillingAddress") %}
                                    {% if overrideBillingAddress|trim is empty %}
                                        <header class="mb-1">
                                            <h3>{{ trans("CeresAgri::Template.checkoutInvoiceAddress") }}</h3>
                                        </header>

                                        {{ LayoutContainer.show("CeresAgri::Checkout.BeforeBillingAddress") }}
                                        <div class="invoice-addresses-select">
                                            <invoice-address-select
                                                    :address-list="{{ services.customer.getAddresses(1) | json_encode }}"
                                                    has-to-validate="true"
                                                    :selected-address-id="{{ services.checkout.getBillingAddressId() | json_encode }}">
                                            </invoice-address-select>
                                        </div>
                                        {{ LayoutContainer.show("CeresAgri::Checkout.AfterBillingAddress") }}
                                    {% else %}
                                        {{ overrideBillingAddress }}
                                    {% endif %}

                                    {% set overrideShippingAddress = LayoutContainer.show("CeresAgri::Checkout.ShippingAddress") %}
                                    {% if overrideShippingAddress|trim is empty %}
                                        <header class="mb-1">
                                            <h3>{{ trans("CeresAgri::Template.checkoutShippingAddress") }}</h3>
                                        </header>

                                        {{ LayoutContainer.show("CeresAgri::Checkout.BeforeShippingAddress") }}
                                        <div class="shipping-addresses-select">
                                            <shipping-address-select
                                                    :address-list="{{ services.customer.getAddresses(2) | json_encode }}"
                                                    :selected-address-id="{{ services.checkout.getDeliveryAddressId() | json_encode }}">
                                            </shipping-address-select>
                                        </div>
                                        {{ LayoutContainer.show("CeresAgri::Checkout.AfterShippingAddress") }}
                                    {% else %}
                                        {{ overrideShippingAddress }}
                                    {% endif %}
                                {% else %}
                                    {{ overrideAddressLists }}
                                {% endif %}
                                {% set overrideShippingProfiles = LayoutContainer.show("CeresAgri::Checkout.ShippingProfileList") %}
                                <header class="mb-1">
                                    <h3>{{ trans("CeresAgri::Template.checkoutShippingProfile") }}</h3>
                                </header>

                                {{ LayoutContainer.show("CeresAgri::Checkout.BeforeShippingProfileList") }}
                                {% if overrideShippingProfiles|trim is empty %}
                                    <div class="shipping-method-select">
                                        <shipping-profile-select template="#vue-shipping-profile-select"></shipping-profile-select>
                                    </div>
                                {% else %}
                                    {{ overrideShippingProfiles }}
                                {% endif %}
                                {{ LayoutContainer.show("CeresAgri::Checkout.AfterShippingProfileList") }}

                                {% set overridePaymentList = LayoutContainer.show("CeresAgri::Checkout.PaymentList") %}
                                <header class="mb-1">
                                    <h3>{{ trans("CeresAgri::Template.checkoutPaymentMethod") }}</h3>
                                </header>

                                {{ LayoutContainer.show("CeresAgri::Checkout.BeforePaymentList") }}
                                {% if overridePaymentList|trim is empty %}
                                    <div class="payment-method-select">
                                        <payment-provider-select template="#vue-payment-provider-select"></payment-provider-select>
                                    </div>
                                {% else %}
                                    {{ overridePaymentList }}
                                {% endif %}
                                {{ LayoutContainer.show("CeresAgri::Checkout.AfterPaymentList") }}

                                <header>
                                    <h3>{{ trans("CeresAgri::Template.checkoutContactWish") }}</h3>
                                </header>

                                <contact-wish-input class="pb-1" template="#vue-contact-wish-input"></contact-wish-input>

                                <shipping-privacy-hint-check></shipping-privacy-hint-check>

                                <div class="form-check">
                                    <accept-gtc-check template="#vue-accept-gtc-check"></accept-gtc-check>
                                </div>
                                {{ LayoutContainer.show("CeresAgri::Checkout.OptIns") }}
                            </div>
                        </div>
                    </div>
                    <!-- ./ADDRESS SELECT -->

                    <div class="col-md-5 checkout-rightside">
                        <div class="col-xs-12 bg-white pt-2">
                            <h3>{{ trans("CeresAgri::Template.checkoutBasket") }}</h3>
                            <hr class="mb-0">
                        </div>
                        <div class="col-xs-12 pt-2 bg-white">
                            <aside class="sidebar">
                                <div class="cmp cmp-checkout-sidebar">
                                    <div class="cmp cmp-basket-preview-list">
                                        <basket-list template="#vue-basket-list" size="small"></basket-list>
                                    </div>
                                    <hr>
                                    <coupon template="#vue-coupon"></coupon>
                                    <hr>
                                </div>
                            </aside>
                        </div>
                    </div>

                    <div class="col-md-5 checkout-rightside float-right" v-stick-in-parent>
                        <div class="col-xs-12 pt-1 bg-white">
                            <aside class="sidebar">
                                <div class="cmp cmp-checkout-sidebar">
                                    {{ LayoutContainer.show("CeresAgri::Checkout.BeforeBasketTotals") }}
                                    <basket-totals template="#vue-basket-totals"></basket-totals>
                                    {{ LayoutContainer.show("CeresAgri::Checkout.AfterBasketTotals") }}
                                </div>
                            </aside>
                        </div>

                        <div class="col-xs-12 pb-1 bg-white">
                            {{ LayoutContainer.show("CeresAgri::Checkout.BeforePlaceOrder") }}
                            <place-order template="#vue-place-order" target-continue="{{ homepageURL }}{% if homepageURL | last != '/'%}/{% endif %}place-order{% if urls.appendTrailingSlash %}/{% endif %}" @payment-response="checkoutComp.showModal($event)"></place-order>
                            {{ LayoutContainer.show("CeresAgri::Checkout.AfterPlaceOrder") }}
                        </div>
                    </div>
                </div>
            </checkout>
        {% else %}
            {{ overrideCheckout }}
        {% endif %}
    </div>
{% endblock %}
