{% import "CeresAgri::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

<script type="x/template" id="vue-basket-totals">
    <!-- BASKET TOTALS -->
    <div class="cmp cmp-totals">
        <div class="h3">{{ trans("CeresAgri::Template.basketSum") }}</div>
        <div class="component-loading with-icon refreshing split-totals-height" :class="{ 'isLoading': isBasketLoading }">
            <dl>
                {{ LayoutContainer.show("CeresAgri::BasketTotals.BeforeItemSum") }}
                <!--<dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("CeresAgri::Template.basketValue") }} ({{ trans("CeresAgri::Template.basketNet") }})
                </dt>
                <dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ calculateBaseValue(basket.itemSumNet, basket.basketRebate) | currency }
                </dd>-->

                <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("CeresAgri::Template.basketValue") }} 
                </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ calculateBaseValue(basket.itemSum, basket.basketRebate)| currency  }
                </dd>

                <template v-if="basket.basketRebate">
                    <dt class="rebate-hint">
                        {{ trans("CeresAgri::Template.basketRebate") }}
                    </dt><!--
                --><dd class="rebate-hint" v-if="!showNetPrices">
                        ${ calculateBaseValue(basket.itemSum, basket.basketRebate) - basket.itemSum | currency  }
                    </dd><!-- -->
                <dd class="rebate-hint" v-else>
                        ${ calculateBaseValue(basket.itemSumNet, basket.basketRebate) - basket.itemSumNet | currency  }
                    </dd>
                   <!-- <dt :class="{ 'font-weight-bold': showNetPrices }">
                        {{ trans("CeresAgri::Template.basketSubTotal") }} ({{ trans("CeresAgri::Template.basketNet") }})
                    </dt>
               <dd :class="{ 'font-weight-bold': showNetPrices }">
                        ${ basket.itemSumNet | currency }
                    </dd> -->
                    <dt :class="{ 'font-weight-bold': showNetPrices }">
                        {{ trans("CeresAgri::Template.basketSubTotal") }} 
                    </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                        ${ basket.itemSum | currency }
                    </dd>
                </template>

                {{ LayoutContainer.show("CeresAgri::BasketTotals.AfterItemSum") }}

                {{ LayoutContainer.show("CeresAgri::BasketTotals.BeforeShippingCosts") }}
               <!-- <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("CeresAgri::Template.basketShippingCosts") }} ({{ trans("CeresAgri::Template.basketNet") }})
                </dt>
                <dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.shippingAmountNet | currency }
                </dd>
				-->
                <dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("CeresAgri::Template.basketShippingCosts") }} 
                </dt><!--
                --><dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.shippingAmount | currency }
                </dd>
                {{ LayoutContainer.show("CeresAgri::BasketTotals.AfterShippingCosts") }}


                {{ LayoutContainer.show("CeresAgri::BasketTotals.BeforeTotalSum") }}
                <!--<dt :class="{ 'font-weight-bold': showNetPrices }">
                    {{ trans("CeresAgri::Template.basketTotalSum") }} ({{ trans("CeresAgri::Template.basketNet") }})
                </dt>
                <dd :class="{ 'font-weight-bold': showNetPrices }">
                    ${ basket.basketAmountNet | currency }
                </dd>-->
                <template v-if="basket.couponCode && basket.couponCampaignType === 'promotion'">
                    <dt>
                        {{ trans("CeresAgri::Template.basketCoupon") }}
                    </dt><!--
                --><dd>
                        ${ basket.couponDiscount | currency }
                    </dd>
                </template>


                {{ LayoutContainer.show("CeresAgri::BasketTotals.BeforeVat") }}
                <div class="vatTotals" v-for="totalVat in basket.totalVats">
                    <dt>
                        {{ trans("CeresAgri::Template.basketVAT") }} ${ totalVat.vatValue }%
                    </dt><!--
                    --><dd>
                        ${ totalVat.vatAmount | currency }
                    </dd>
                </div>
                {{ LayoutContainer.show("CeresAgri::BasketTotals.AfterVat") }}
				<hr>
                <div class="totalSum">
                    
                    <dt :class="{ 'font-weight-bold': !showNetPrices }">
                        {{ trans("CeresAgri::Template.basketTotalSum") }} 
                    </dt><!--
                    --><dd :class="{ 'font-weight-bold': !showNetPrices }">
                        ${ basket.basketAmount | currency }
                    </dd>
                    <template v-if="basket.couponCode && basket.couponCampaignType === 'sales'">
                        <dt>
                            {{ trans("CeresAgri::Template.basketCoupon") }}</strong>
                        </dt><!--
                     --><dd>
                            ${ basket.couponDiscount | currency }
                        </dd>
                    </template>
                    <template v-if="basket.couponCampaignType === 'sales'">
                        <dt class="font-weight-bold">
                            {{ trans("CeresAgri::Template.basketOpenAmount") }}
                        </dt><!--
                    --><dd class="font-weight-bold">
                            ${ basket.openAmount | currency }
                        </dd>
                    </template>
                </div>
                {{ LayoutContainer.show("CeresAgri::BasketTotals.AfterTotalSum") }}
            </dl>
        </div>
    </div>
    <!-- ./BASKET TOTALS -->
</script>